body {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	margin: auto;
	padding: 2vw;
	padding-top: 0px;
}

.dir {
	background-color: #202020;
	border: 1px #474747 solid;
	width: auto;
	height: auto;
	display: inline-block;
	padding: 15px;
	margin: 10px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.2vw;
	padding: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.link {
	color: #FF0000;
	text-decoration: none;
	padding: 10px;
	letter-spacing: 3px;
	outline: 0;
	transition: all .2s ease-in;
}

.link:hover {
	font-style: italic;
	letter-spacing: 10px;
}

a:hover {
	text-decoration: underline;
}

a:focus, a:visited {
	outline: 0;
}

img {
	width: 100%;
	margin-bottom: 10px;
}

.thumb {
	float: left;
}

.container {
	text-align: center;
	display: inline-block;
	overflow: hidden;
	float: left;
}

.content {
	background-color: #202020;
	border: 1px #474747 solid;
	width: 15vw;
	height: auto;
	min-height: 25vh;
	max-height: 25vh;
	padding: 1vw;
	padding-bottom: 0px;
	margin: 5px;
	word-wrap: break-word;
}
